@tailwind base;
@tailwind components;
@tailwind utilities;

  .container {
    background-image: url('../public/accueil_map.png');
    background-size: cover; 
    background-position: center; 
    position: relative; 
    max-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

}

  .basic {
    background-image: url('../public/bg.png');
    background-size: cover; 
    background-position: center; 
    position: relative; 
    max-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .img_smallmap {
    position: absolute;
    top: 206px;
    left: 282px;

  }

  
  .language-toggle {
    position: absolute;
    top: 84px; 
    right: 48px; 
    z-index: 2; 
    background-color: #FFF;
    border-radius: 40px;
    padding: 20px 24px;
    height: 82px;
    font-size: 24.479px;
  }

  .toggle_flags {
    display: flex;
  }

  .img_flags {
    margin-right: 16px;
  }


  .back_map {
    position: absolute;
    top: 84px;  
    left: 48px; 
    z-index: 2; 
    display: flex;
  }

  .arrow_left_wrapper {
    display: flex;
    background-color: #D4673D;
    width: 82px;
    height: 82px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 25px;
  }
  .arrow_left {
    height: 42px;
  }

  .back_map_button {
    color: #FFF;
    font-size: 36px;
  }

  .titles_homepage {
    padding-top: 232px;
    padding-right: 155px;
    padding-left: 155px;
  } 

  .title {
    text-align: center;
    color: white;
    font-size: 60px;
  }
  
  .subtitle {
    text-align: center;
    color: white;
    font-size: 36px;
  }


  .producer-buttons-container {
    position: fixed;
    color: white;
    bottom: 0px;
    width: calc(100% - 96px); 
    max-width: 100%; 
    left: 48px; 
    display: flex;
    justify-content: space-between; 
    margin-bottom: 110px;
  }

  .producer-button {
    position: absolute;
    width: 300px; 
    height: 50px; 
    border: none; 
    border-radius: 50%; 
  }

  .next_prev_buttons {
    display: flex;
    justify-content: space-between;
  
    align-items: center;
    border-radius: 40px;
    background: var(--marron, #D4673D);
    height: 116px;
    font-size: 28px;
    padding: 32px;
  }

  .photo_prev_producer {
    width: 51px;
    margin-left: 24px;
  }

  .photo_next_producer {
    width: 51px;
    margin-right: 24px;
  }

  .arrow_next_producer {
    margin-left: 43px;
  }
  .arrow_prev_producer {
    margin-right: 43px;
  }

  .producer_container {  
    z-index: 1; 
    border-radius: 40px;
    background: #FFF;
    position: absolute;
    top: 834px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 126px 68px 68px 68px;
  }

  .list_products {
    display: flex;
    position: absolute;
    top: -138px;
    right: 30px;
  }

  .product_photo_background {
    position: absolute;
    z-index: -1;
    top: 84px;

  }

  .photo_producer{
    position: absolute;
    width: 144.254px;
  }

.photo_producer_description {
    position: absolute;
    top: -205px;
    width: 289px;
    left: 20px;
}

  .title_store {
    color: #007AA3;
    font-size: 40px;
    padding: 0;
    margin-bottom: 64px;
  }

  .producer_description {
    font-size: 28px;
  } 
  
  
  
  
  
 
  
  

  
  

