@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --jaune-Sud-Est: #FBBA00;
    --violetbourgogne: #55478C;
    --vert-Rhne-Alpes: #008B76;
    --blanc: #FFF;
    --texte-fiche-fournisseur: #001720;
    --vert-IDF: #ABB949;
    --rouge-Grand-Nord: #D24A3C;
}
  
  


  

 
 



  
 







 





 

 
  
  

  
  

